.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
/.idea
/app/app.iml
/app/src/main.obj.local.armeabi-v7a/objs/*
app/src/main.obj.local.armeabi-v7a/objs/*
app/src/main.obj.local.armeabi-v7a/objs/
app/src/main/obj/local/armeabi-v7a/objs
/app/src/main.obj.local.armeabi-v7a/objs/
/app/src/main/obj/local/armeabi-v7a/objs

/app/build/*
