<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utc.vat" >

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.ibm.bluelist.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".BlueListApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="edu.utc.vat.IBMPushNotification" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity" >
        </activity>
        <activity
            android:name=".TestingActivity"
            android:label="@string/title_testing_activity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utc.vat.TestingActivity" />
        </activity>
        <activity android:name=".ExerciseListActivity" />
        <activity
            android:name=".ExercisePrepActivity"
            android:label="@string/title_activity_exercise_prep"
            android:parentActivityName=".ExerciseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utc.vat.ExerciseListActivity" />
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="@string/title_testing_activity"
            android:parentActivityName=".ExercisePrepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utc.vat.ExerciseActivity" />
        </activity>
        <activity android:name=".util.GoogleTokenManager" >
        </activity>
        <activity
            android:name=".IBMDataTest"
            android:label="@string/title_activity_ibmdata_test"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- Push Settings Start -->

        <!-- Add GCM Intent Service and intent-filters for RECEIVE and REGISTRATION of notifications
         <activity android:name="com.ibm.mobile.services.push.IBMUIActivity" />
         -->

        <service android:name="com.ibm.mobile.services.push.IBMPushIntentService" />

        <receiver android:name="com.ibm.mobile.services.push.IBMPushBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.ibm.mbaas.push.sdk.client.android.sample" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.ibm.mbaas.push.sdk.client.android.sample" />
            </intent-filter>
        </receiver>
        <!-- Push Settings End -->
    </application>

</manifest>